.tmp_*
*.swp
# FIXME: dagger v0.18.17 wont load git-ignored files https://github.com/dagger/dagger/issues/10994
# *.osm.pbf
*.mbtiles
**/.DS_Store
# FIXME: dagger v0.18.17 wont load git-ignored files https://github.com/dagger/dagger/issues/10994
# data/*
.env
