{
  "options": {
    "paths": {
      "root": "/data",
      "fonts": "fonts",
      "sprites": "sprite",
      "styles": "/app/styles",
      "mbtiles": ""
    },
    "serveAllFonts": true,
    "serveAllStyles": true
  },

  "styles": {
    "style": {
      "style": "/app/styles/style.json",
      "serve_data": true
    }
  },
  "data": {
    "default": {
      "mbtiles": "${HEADWAY_AREA}.mbtiles"
    }
  }
}
