// app global css in SCSS form

.maplibregl-map {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  top: 0px !important;
  left: 0px !important;
}

.main-search-bar {
  padding: 8px;
  width: 100%;
}

.over-map {
  z-index: 100;
  position: fixed;
}

.place-card-close-button {
  @extend .over-map;
  left: 100%;
  transform: translate(-100%);
  margin-left: -12px;
  margin-top: 12px;
  z-index: 101;
}

.top-left-card {
  @extend .over-map;
  margin-top: 12px;
  margin-left: 12px;
}

.bottom-card {
  @extend .over-map;
  bottom: 0;
  left: 0%;
  width: 100%;
}

.place-card-conditionally-wrap {
  @media screen and (min-width: 800px) {
    white-space: nowrap;
  }
}

.place-card-section {
  margin-top: 8px;
  @media screen and (min-width: 800px) {
    margin-right: 12px;
    display: inline-block;
  }
}

html {
  height: 100%;
}
body {
  height: 100%;
}
