// app global css in SCSS form

.maplibregl-map {
  position: fixed;
  width: 100vw;
  height: 0;
  margin: 0;
  padding: 0;
  display: flex;
  top: 0px !important;
  left: 0px !important;
}

.bg-secondary {
  background-color: $secondary;
}

.search-bar {
  flex: 1;
}

.no-top-padding {
  padding-top: 0px;
}

.over-map {
  z-index: 100;
  position: fixed;
}

.over-map-responsive {
  z-index: 1;
  @media screen and (min-width: 800px) {
    z-index: 100;
    position: fixed;
  }
}

.top-left-fab {
  @extend .over-map;
  margin-left: 12px;
  margin-top: 12px;
  background-color: white;
}

.place-card-close-button {
  left: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-100%) translateY(-50%);
  margin-left: -12px;
  z-index: 101;
}

.top-left-card {
  @extend .over-map-responsive;
  @media screen and (min-width: 800px) {
    margin-top: 12px;
    margin-left: 12px;
    min-width: 350px;
  }
}

.bottom-card {
  @extend .over-map;
  bottom: 0;
  left: 0%;
  width: 100%;
  max-height: 40%;
  overflow-y: scroll;
}

.itinerary-container {
  list-style: none;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
}

.itinerary-item {
  flex-grow: 1;
  position: static;
  background-color: $dark;
  min-width: calc(max(40%, 300px));
  height: 0;
  padding: 2.5em;
  margin: 0.5em;
  border-radius: 0.5em;
}

.itinerary-item-selected {
  box-shadow: 0em 0em 0.4em 0.4em #fff;
}

.itinerary-item-line {
  position: relative;
  background-color: #fff;
  top: -0.25em;
  height: 0.5em;
  border-radius: 0.25em;
}

.directions-title {
  margin-bottom: 12px;
}

.place-card-conditionally-wrap {
  @media screen and (min-width: 800px) {
    white-space: nowrap;
  }
}

.place-card-section {
  @media screen and (min-width: 800px) {
    margin-right: 12px;
    display: inline-block;
  }
}

.timeline {
  white-space: nowrap;
  overflow-x: auto;
  padding-bottom: 8em;
  height: fit-content;
  ol {
    width: 100%;
    padding-left: 50%;
    margin-right: 50%;
    display: inline;
    li {
      position: relative;
      display: inline-block;
      width: 320px;
      height: 3px;
      background: #fff;
      &:last-child {
        width: 0px;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0%;
        left: 0%;
        bottom: 0;
        width: 14px;
        height: 14px;
        transform: translateY(-50%) translate(-50%);
        border-radius: 50%;
        background: #111;
        border: 1px solid #fff;
      }
      .instruction {
        position: absolute;
        left: 3em;
        padding: 10px;
        font-size: 1rem;
        width: 240px;
        white-space: normal;
        color: black;
        background: white;
        box-shadow: 3px 3px 1px -2px rgba(0, 0, 0, 0.2),
          0px 2px 2px 0 rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        transform: translate(-66.6%);
        top: calc(16px);
      }
    }
    li.selected {
      &::after {
        width: 24px;
        height: 24px;
        background: #d11;
      }
    }
  }
}

.center-left-floating {
  position: absolute;
  top: 50%;
  left: 0%;
  margin-left: 1em;
  transform: translateY(-50%);
}

.center-right-floating {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: -1em;
  transform: translateY(-50%) translate(-100%);
}

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

html {
  height: 100%;
}
body {
  height: 100%;
}
