version: "3"
services:
  pelias_schema:
    image: pelias/schema:master
    container_name: pelias_schema
    volumes:
      - "./pelias.json:/code/pelias.json"
      - "./tools:/tools:ro"
    depends_on:
      - pelias_elasticsearch
  pelias_whosonfirst:
    image: pelias/whosonfirst:master
    container_name: pelias_whosonfirst
    volumes:
      - "./pelias.json:/code/pelias.json"
      - "./tools:/tools:ro"
      - "${DATA_DIR}:/data"
    depends_on:
      - pelias_elasticsearch
  pelias_polylines_prepare:
    image: pelias/polylines:master
    container_name: pelias_polylines
    volumes:
      - "./pelias.json:/code/pelias.json"
      - "${DATA_DIR}:/data"
  pelias_polylines_import:
    image: pelias/polylines:master
    container_name: pelias_polylines
    volumes:
      - "./pelias.json:/code/pelias.json"
      - "./tools:/tools:ro"
      - "${DATA_DIR}:/data"
    depends_on:
      - pelias_elasticsearch
  pelias_placeholder:
    image: pelias/placeholder:master
    container_name: pelias_placeholder
    environment: [ "PORT=4100" ]
    volumes:
      - "./pelias.json:/code/pelias.json"
      - "${DATA_DIR}:/data"
  pelias_openstreetmap:
    image: pelias/openstreetmap:master
    container_name: pelias_openstreetmap
    volumes:
      - "./pelias.json:/code/pelias.json"
      - "./tools:/tools:ro"
      - "${DATA_DIR}:/data"
    depends_on:
      - pelias_elasticsearch
  pelias_elasticsearch:
    image: pelias/elasticsearch:7.16.1
    container_name: pelias_elasticsearch
    volumes:
      - "${DATA_DIR}/elasticsearch:/usr/share/elasticsearch/data"
    environment:
      ES_JAVA_OPTS: "-Xmx8g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    cap_add: [ "IPC_LOCK" ]
    networks:
      default:
        aliases:
          - peliaselasticsearch
volumes:
  pelias_data:
